<div class="container">
    <h1>Home</h1>
    <p>Ruby on Rails tempalte. See the readme file to see what's been setup.</p>
    <a target="blank" href="https://github.com/nicgranleese/basic_rails_install">https://github.com/nicgranleese/basic_rails_install</a>
    <hr>
    
</div>  