<div class="container">
    <h1>Home</h1>
    <p>Ruby on Rails tempalte files</p>
    <hr>
    <h2>What's been setup</h2>
    <ul>
        <li>Bootstrap sass gem.</li> 
        <li>Nitrous preview fix.</li>
        <li>Home page controller and view setup.</li>
        <li>Better Errors Gem setup with fix for nitrous.io</li>
        <li>SVG Icons are setup via a helper method.</li>
        <li>Image size css has been setup</li>
    </ul>  
</div>  