//Default Font
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,800);

html {
  font-family: raleway;
}

$font-family-sans-serif: raleway !default;

//Brand colour
$brand: #e65338;
$brand-hover: #c82f12;
$brand-lighter: #e2c0b9;
$brand-darker:  #c82f12;